#qna {
  display: none;
}

.qBox {
  text-align: center;
  border-radius: 20px;
  font-size: 24px;
  width: 80%;
  font-family: 'GmarketSansMedium';
  padding : 5px 30px;
}

.answerList {
  border: 1px solid #868686; ;
  border-radius: 10px;
  display: block;
  width: 70%;
  font-size: 20px;
  padding : 5px 15px;
  color : black;
  background-color: white;
  text-align: left;
  font-family: 'GmarketSansMedium';
}
.answerList:link{
  color:black; 
  border: 1px solid #868686; ;
  text-decoration: none;
  border: none;
}
.answerList:hover, .answerList:focus {
  /* background-color: rgb(252, 206, 120); */
  background-color: #FFD966;
  color: rgb(0, 0, 0);
  border: none;
  text-decoration: none;
}
@media (max-width: 900px){
  .qBox {
    text-align: center;
    font-size: 18px;
    width: 90%;
    padding : 7px 30px;
  }
  .answerList {
    border: 1px solid #868686; ;
    border-radius: 10px;
    display: block;
    width: 80%;
    font-size: 16px;
    padding : 5px 15px;
    color : black;
    background-color: white;
    text-align: left;
  }
  .testBoxBody{
    font-size: 15px;
  }
  #main{
    width: 90%;
  }
}
.status {
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  border-radius: 7px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+52,ff5c5c+100;Red+3D+%231 */
  background: #ffd4d4;
  /* #FC9F27 */
  
  /* Old browsers */
  background: -moz-linear-gradient(top, #FC9F27 0%, #FC9F27 52%, #FC9F27 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FC9F27 0%, #FC9F27 52%, #FC9F27 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #FC9F27 0%, #FC9F27 52%, #ffa632 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febbbb', endColorstr='#ff5c5c', GradientType=0);
  /* IE6-9 */
}
.countStatus{
  font-family: yg-jalnan;
  text-align: center;
  /* color: #868686; */
  color : #A6A6A6;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.resultBtn{
  text-align: center; 
  margin-top: 20px; 
  display: inline;
}