#result{
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}
#shareResult{
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}


.resultname{
  font-size: 26px;
}

.resultDesc{
  font-size: 20px;
  font-family: GmarketSansMedium;
}


.kakao{
  color: rgb(0, 0, 0);
  background-color: #ffe600;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.kakao:hover, .kakao:focus {
  background-color: whitesmoke;
  color: #FEE500;
}

.resultname{
  margin-top: 10px;
  font-size: 2em; 
  border: none;
  font-family: GmarketSansMedium;
}
.resultInro{
  font-size:1.5em;
  color: #868686;
}
.resultDescTitle1, .resultDescTitle2, .resultDescTitle3{
  font-size: 1.5em; 
  font-family: GmarketSansMedium;
}
.resultDesc1, .resultDesc2, .resultDesc3{
  margin-top: 10px;
  margin-bottom: 14px;
  font-size: 1em;
  color: #868686;
  font-family: GmarketSansMedium;
}
.likelionApllyImg{
  width: 20%;
  margin: 30px;
}
.likelionApplyText{
  font-size: 1.7em; 
  font-family: GmarketSansMedium;
  margin-bottom: 30px;
}
.applyBox{
  text-align: center;
  margin-top: 30px;
  display: inline;
}

.goSchool{
  border : 1px solid none; 
  padding: 15px; 
  font-size: 1em;
  font-weight: 600;  
  border-radius: 10px; 
  background-color: rgb(248, 225, 160);
  font-family: GmarketSansMedium;
}
.goSchool:hover{
  background-color: orange;
  color : white;
  text-decoration: none;
  text-decoration-line: none;
}
.shareReusltBox{
  margin-top: 40px;
}
.shareReuslt{
  font-size: 1.5em; 
  font-family: GmarketSansMedium;
  color: #868686;
}
.sharebtn_custom{
  width: 5%;
  margin: 5px;
}

.naverIcon{
  width: 6%;  
  transform: translateY(2px);
}



.ifU{
  margin-top: 20px;
  margin-bottom: 8px;
  text-decoration: underline;
  color: orange;
  font-size: 1.7em;
  font-family: GmarketSansMedium;
}

.basic1, .basic2, .basic3{
  font-family: GmarketSansMedium;
  font-size: 1.2em;
}

/* 모바일 화면 */
@media (max-width: 1000px){
  #result{
    display: none;
    width: 90%;
  }

  .resultname{
    margin-top: 6px;
    font-size: 1.5em; 
    border: none;
    font-family: GmarketSansMedium;
  }
  .resultInro{
    font-size: 1em;
    color: #868686;
    font-family: GmarketSansMedium;
  }
  .resultDescTitle1, .resultDescTitle2, .resultDescTitle3{
    font-family: GmarketSansMedium;
    font-size: 0.9em; 
  }
  .resultDesc1, .resultDesc2, .resultDesc3{
    font-size: 0.7em;
    font-family: GmarketSansMedium;
    color: #868686;
  }
  .likelionApllyImg{
    width: 35%;
    margin: 25px;
  }
  .likelionApplyText{
    font-size: 1.1em; 
    font-family: GmarketSansMedium;
    margin-bottom: 10px;
  }
  .goSchool{
    font-size: 0.8em;
    border : 1px solid none; 
    padding: 10px 13px; 
    font-weight: 600;  
    border-radius: 10px; 
    background-color: rgb(255, 235, 179);
  }
  .goSchool:hover{
    background-color: orange;
    color : white;
    text-decoration: none;
    text-decoration-line: none;
  }
  .applyBox{
    text-align: center;
    margin-top: 20px;
    display: block;
  }
  .shareReusltBox{
    margin-top: 30px;
  }
  .shareReuslt{
    font-size: 1em; 
    font-family: GmarketSansMedium;
    color: #868686;
  }
  .sharebtn_custom{
    width: 14%;
    margin: 5px;
  }
  .naverIcon{
    transform: translateY(1px);
    width: 17%;  
  }
  .ifU{
    margin-top: 20px;
    margin-bottom: 8px;
    text-decoration: underline;
    color: orange;
    font-size: 1.3em;
    font-family: GmarketSansMedium;
  }
  
  .basic1, .basic2, .basic3{
    font-family: GmarketSansMedium;
    font-size: 0.7em;
  }
}
