.school_container{
    display: grid;
    grid-template-rows: repeat(auto-fill);
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    text-align: center;
    margin-bottom: 150px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
}
.school{
    margin-bottom: 20px;
    padding: 20px;
    display: none;
}
.show{
    display:block;
}
.school>a{
    text-decoration: none;
}
.school a:hover{
    color: orange;
}
.categoryTop:active, .categoryTop:hover{
    color: whitesmoke;
    background-color: rgb(255, 216, 143);
    border-radius: 20px;
}
.categoryTop:link{
    color: whitesmoke;
}


.categoryEach{
    border-radius: 20px;
    background-color: #fceec8;
}