.school_container{
    display: grid;
    grid-template-rows: repeat(auto-fill);
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    text-align: center;
    margin-bottom: 150px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
}
.school{
    padding: 20px;
    display: none;
    border-bottom :1px solid rgba(0,0,0,.1);
}
.show{
    display:block;
}
.school>a{
    text-decoration: none;
}
.school a:hover{
    color: orange;
}
.school_container_moblie{
    display:gird;
    grid-template-rows: repeat(auto-fill);
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
    text-align: left;
    margin-left: 2.5%;
}
.school_container_moblie img{
    margin-right: 20px;
}
.categoryTop.check_category, .categoryTop:hover{
    color: whitesmoke;
    background-color: rgb(255, 216, 143);
    border-radius: 20px;
}
.check_category{
    color: whitesmoke;
    background-color: rgb(255, 216, 143);
    border-radius: 20px;
}


.categoryEach{
    border-radius: 20px;
    background-color: #fceec8;
}
@media (max-width:1000px){
    .school_container{
        font-size: 0.3rem;
        width: 90%;
        margin-bottom: 210px;
    }
}
