@import "base.css";
@import "navbar.css";
@import "background.css";
@import "slide.css";
*{
    font-family: 'Noto Sans KR', sans-serif;
  }
  .footer-clean {
    position: absolute;
    padding:30px 0;
    background-color:rgb(255, 240, 191);
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:10px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.4;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:0px;
      line-height: 0.1;
  
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:right;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin: 0px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:10px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  
  /* Credit to https://epicbootstrap.com/snippets/footer-with-columns */
  html {

    position: relative;

    min-height: 100%;

    margin: 0;



}

body {

    min-height: 100%;

}

footer {

    position: absolute;

    left: 0;

    bottom: 0;

    width: 100%;

	padding: 10px 0;

	text-align: center;

	color: white;

	background: rgb(255, 208, 137);

}
img {
  width: 100%;
  height: auto;
}
.goSchool{
  border : 1px solid none; 
  padding: 15px; 
  font-weight: 600;  
  border-radius: 20px; 
  background-color: rgb(255, 244, 215);
}
.goSchool:hover{
  color : orange;
  text-decoration: none;
  text-decoration-line: none;
}

.goLikeLion{
  border : 1px solid none; 
  padding: 10px; 
  font-weight: 600;  
  border-radius: 20px; 
  background-color: rgb(255, 249, 231);
}
.goLikeLion:hover{
  color : orange;
  text-decoration: none;
  text-decoration-line: none;
}
li{list-style: none;}

.slide_div{
  width: 1500px;
  margin: 0 auto;
  height: 500px;
}
.slider_wrapper{
  position: relative;
  width: 1500px;
  margin: 0 auto;
  height: 250px;
  overflow: hidden;
}
.slides{
  position: absolute;
  margin-top: 25px;
  margin-bottom: 25px;
  left: 0; top: 0;
  width: 200*42+30*42+'px';
  transition: left 0.5s ease-out;
}
.slides li{
  float: left;
  margin-right: 30px;
}

.controls{
  text-align: center;
  margin-top: 25px;
}
.controls span{
  background :rgba(105, 105, 103, 0.274);
  color:rgb(15, 15, 5);
  font-weight:bold;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10%;
}
.controls span.prev{right:calc(100% + 50%);}
.controls span.next{left:calc(100% + 50%);}

.wap{
  width: 2000px;
  height: 400px;
  margin: 0 auto;
}
.box1{
  float: left;
  width: 30px;
  margin-top: 80px;
  margin-right: 10px;
}
.box2{
  float: left;
  width: 1700px;
  margin: 5px;
}
.univ{
  width: 170px;
  height: 170px;
}
.li{
  width: 160px;
  height: 200px;
  text-align: center;
}
.jae{
  margin-top: 5px ;
}